.mainheader {background-color:#fec8d8; color:#000000; text-align: center;}

h1{background-color:#F0FFFF;font-family: 'Zen Antique Soft', serif; color:#000000; text-align: left;}

p{font-family: 'Source Sans Pro', sans-serif; color: #000000;}

.box1{background-color: #F0FFFF;}
body{background-color: #F0FFFF ;font-family:  Helvetica, Arial,sans-serif; font-size:12px}

.banner{text-align: center;font-size: 35px}


#container-id {text-align: center;}
#list-id {text-align: left;}
